/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes sparkles-effect {

  0% {
    fill: transparent;
  }

  100% {
    fill: var(--animation-fill-color);
  }
}

@keyframes expansion-effect {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

.like-icon__sparks {
  fill: var(--animation-fill-color);
}

.like-icon__core,
.like-icon__main-body,
.like-icon__sparks {
  fill: transparent;
}

.like-icon__contour {
  fill: var(--contour-color);
  transition: fill linear 0.1s;
}

.like-icon__core {
  transition: var(--transition-effect) 0.03s;
}

.like-icon__main-body {
  transition: var(--transition-effect);
}

.card__icon-button:hover :is(.like-icon__main-body, .like-icon__core) {
  fill: var(--contour-color);
}

.card__icon-button:active :is(.like-icon__main-body, .like-icon__core) {
  fill: var(--animation-fill-color);
}

.card__icon-button:is(:hover, :active) .like-icon__main-body {
  transition: var(--transition-effect) 0.05s;
}

.card__icon-button:is(:hover, :active) .like-icon__core {
  transition: var(--transition-effect);
}

.like-icon.is-liked .like-icon__contour {
  transition: var(--transition-effect) 0.06s;
}

.like-icon.is-liked .like-icon__core {
  transition: var(--transition-effect);
}

.like-icon.is-liked .like-icon__main-body {
  transition: var(--transition-effect) 0.05s;
}

.like-icon.is-liked :is(.like-icon__contour, .like-icon__main-body, .like-icon__core) {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparkles-effect ease-in 0.3s 0.3s;
}

.like-icon.is-liked {
  animation: expansion-effect ease-in 0.3s 0.1s;
}


/* ---------------------------------- */


.filter-grayscale {
  filter: grayscale(75%);
}

.filter-saturate {
  filter: saturate(500%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-effect {
  filter: invert(0.2) saturate(130%) hue-rotate(100deg) blur(5px);
}