/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.container {
  inline-size: var(--responsive-size);
}

.bordered {
  border: var(--main-border);
}

.uppercased {
  text-transform: uppercase;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-image: 
    repeating-linear-gradient(to left, var(--bg-grad-main-color) 0px 2px, 
      rgb(from var(--bg-grad-main-color) R G B / 0.0) 2px 4px),
    repeating-linear-gradient(to top, var(--bg-grad-main-color) 0px 2px, 
      rgb(from var(--bg-grad-main-color) R G B / 0.0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  padding-block: 100px;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-main-color);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  font-weight: 400;
  font-family: 'PressStart2P', monospace;

  & > h1 {
    font-weight: 400;
    font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  }

  & > span {
    font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  }
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-gap);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
}

.card {
  background-color: var(--bg-main-color);
  font-size: var(--main-font-size);
  line-height: var(--font-lh);
  font-variation-settings: "wght" 400, "slnt" 0;
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px 5px;
  font-size: var(--main-font-size, 18px);
  line-height: 1.22;
  font-variation-settings: "wght" 700;
}

.card__image-container {
  position: relative;
  border-block: var(--main-border);
  overflow: hidden;

  & > img {
    display: block;
    inline-size: 100%;
  }
}

.watermark {
  position: absolute;
  top: 23px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: var(--watermark-font-size);
  font-family: 'PressStart2P', monospace;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
}

.card__icon-button {
  cursor: pointer;
  border: none;
  background-color: var(--bg-main-color);
}

.box-button {
  position: relative;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border: var(--main-border);
  background-color: var(--bg-main-color);
  font-size: var(--watermark-font-size);
  line-height: 0.9;
  font-family: var(--accent-font);
  isolation: isolate;
  overflow: hidden;

  &:focus-visible {
    box-shadow: 2px 2px 0px 0px #000;
  }

  &::after {
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s linear;
    inset: 0;
    background-color: #000;
    content: '';
    z-index: 0;
  }
  
  &:hover::after {
    transform: scaleX(1);
  }
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--text-color);
  z-index: 1;
}

.card__button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  border: none;
}

.card__like-button {
  padding-block: 10.5px;
  inline-size: 130px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 20px;
  padding-block: 15px;
}

.save-button svg {
  aspect-ratio: 1 / 1;
  inline-size: 22px;
}

#dialog-id {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  padding: 30px;
  inline-size: clamp(341px, 20.447rem + 3.692vw, 353px);
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--accent-font);
  text-transform: uppercase;

  &::backdrop {
    background-color: rgb(0 0 0 / 0.8);
  }

  &:not([open]) {
    opacity: 0;
    pointer-events: none;
  }

  & > .dialog__text-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  svg {
    min-inline-size: 39px;
    block-size: 39px;
  }

  .close-button {
    padding-block: 12.5px;
    inline-size: 100%;
    text-transform: uppercase;
  }
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}