/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
  --responsive-size: clamp(375px, 100%, 700px);

  --bg-grad-main-color: #d3d3d3;
  --bg-main-color: #fff;
  --text-color: #000;

  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", fantasy;

  --page-gap: 50px;

  --main-font-size: 18px;
  --font-lh: 21px;
  --watermark-font-size: 14px;
  --main-border: 2px solid #000;

  --contour-color: #000;
  --animation-fill-color: #f00;
  --transition-effect: fill linear 0.3s;
}